@use "mixins";

.body{
  position: absolute;
  left: 0;
  min-height: 100vh;
  
  @include mixins.mobile{
    position: relative;
  }

}


.mobileHeader {
  display: none;

  @include mixins.mobile {
    display: flex;
    width: 100%;
    color: #fff;
    min-height: 10vh;
    background: rgba(100, 70, 102, 0.292);
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    position: fixed;
    top: 0;
    z-index: 7;
    cursor: pointer;
    
  }
}

.logo {
  @include mixins.flex-center;
  color: #fff;
  cursor: pointer;
  position: fixed;

  @include mixins.mobile{
   display: none;
  }

}

.navlinks {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 70%;
  top: 15vh;
  width: 30vw;
  justify-content: space-between;
  font-size: 2rem;
  background: #2e11116a;
  padding-left: 2rem;
  color: #fff;

  @include mixins.mobile{
    display: none;
  }
}


